@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 50%;
    margin: 0 auto;
}

.wrapper-large {
    width: 100%;
    margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/

header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
}

.logo::before,
.logo::after {
    width: 8%;
    height: 4px;
    display: block;
    position: absolute;
    background-color: #3fbff3;
    content: "";
}

.logo::before {
    top: -10px;
    right: -5%;
}

.logo::after {
    top: -3px;
    right: -8%;
    transform: rotateZ(90deg);
}

.search form {
    display: flex;
}

.search-input,
.search-btn {
    display: flex;
}

input[name=search],
input[name=search-btn] {
    flex-basis: 80%;
    padding: 5px 2%;
    border: none;
    outline: none;
}

input[name=search-btn] {
    flex: 1;
    padding: 5px 40%;
    background-color: #369fe3;
    color: #fff;
}


/*navbar*/

nav {
    flex-basis: 100%;
    margin-top: 44px;
    background: linear-gradient(to right, #2c7fc6, #2260ab);
}

.navigation {
    flex: 1;
    padding: 5px 0;
    display: flex;
}

.nav-item {
    padding: 2px 1%;
    border-right: 1px solid #37a6e0;
    display: flex;
    font-size: 12px;
    align-items: center;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item a {
    color: #fff;
}

.nav-item a:hover {
    color: #4aa3e3;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/

.hero-section {
    padding: 233px 0 104px 0;
    background: radial-gradient() url("../images/bg.jpg") center no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.hero-section-title {
    padding-bottom: 10px;
    color: #fff;
    font-size: 34px;
    font-weight: 400;
}

.hero-section-sub-title {
    width: 60%;
    color: #6fcaf4;
    font-size: 24px;
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}